/* Main decorator file for the main page */

/* Things to style, 

    main page, 
    header, 
    footer,
    nav bar, 
    etc

*/

html{
    background-image: url(../images/cardsitetemp.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain; 
    background-position: center;

}
@media screen and (max-width: 768px){
    html {
        background-image: url(../images/cardsitetemp.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
}