/* Add a black background color to the top navigation */
.topnav {
  background-color: #748CAB;
  overflow: hidden;
  text-align: center;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #040507;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #242449;
  color: #E6E6E9;
}
  
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #171738;
  color: #E6E6E9;
}

html{
  background-color: #F4F4F6;
}
body{
  background-color: #F4F4F6;
}
footer dl dt img{
  height: 10%;
  width: 10%;
}
.nextplaytest{ 
  text-align: center;
  margin: auto;
  padding: 10px;
  color: #040507;
  background-color: transparent;
}
.nextplaytest a:link, a:visited{
  color: #040507;
  background-color: transparent;
}
.nextplaytest a:hover { 
  text-align: center;
  color: #35356e;
  background-color: transparent;
}